<div class="row connect-links">
  <div class="connect-image col-md-1 col-md-offset-3 col-sm-2 col-sm-offset-1 col-xs-2">
    <a href="mailto:adriennedomingus@gmail.com" target="blank"><img src="./static/images/email-logo.png"></a>
  </div>
  <div class="connect-image col-md-1 col-sm-2 col-xs-2">
    <a href="https://github.com/adriennedomingus" target="blank"><img src="./static/images/github-logo.png"></a>
  </div>
  <div class="connect-image col-md-1 col-sm-2 col-xs-2">
    <a href="https://www.linkedin.com/in/adriennedomingus/" target="blank"><img src="./static/images/linked-in-logo.png"></a>
  </div>
  <div class="connect-image col-md-1 col-sm-2 col-xs-2">
    <a href="https://medium.com/@adriennedomingus" target="blank"><img src="./static/images/blog-logo.png"></a>
  </div>
  <div class="connect-image col-md-1 col-sm-2 col-xs-2">
    <a href="https://twitter.com/a_domingus" target="blank"><img src="./static/images/twitter-logo.png"></a>
  </div>
</div>
